

body{
    font-family: 'Roboto', sans-serif;
}

.DivImg1{
    background-color: aliceblue;
    text-align: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    font-size: 20px;
    
}



#resultado {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    
    
}

.BotonCalcular{
    background-color: bisque;

}
.BotonCalcular:hover{
    background-color: brown;
   
    cursor: pointer;
}

/* del radio*/

.radio {
    display: inline-block;
    margin-right: 10px; /* Ajusta el espacio entre los radio buttons y las etiquetas */
}

